.header_logo{
    object-fit: contain;
    height: 40px;
}
.header_icon{
    padding: 10px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0);
}